@import '../../general';

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: $colorDefaultText;

  @include _dark {
    color: $colorDarkText;
    background-color: $colorDarkBackground;
  }
}

.header {
  text-align: center;
  font-size: $sizeDesktopTextBig;
  padding: $marginDefaultDiv2;
  margin-bottom: $marginDefaultDiv2;
}

.button {
  @include _defaultButton;
}
