@import '../../general';

.main {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.header {
  grid-column: 1/3;
  text-align: center;
  color: #ffdead;
  padding: 20px;
}

.tableBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.table {
  display: grid;
  border: 1px solid #b0c4de;
}

.table_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b0c4de;
  padding: 5px;
  text-align: center;
  color: #ffdead;
}

.cell_img {
  max-width: 20px;
}

.cell_text {
  margin: auto 10px;
  max-width: 50px;
  text-align: center;
}

.rows_add,
.columns_add {
  max-width: 20px;
}

.columns_add {
  display: block;
  margin-left: 10px;
}

.rows_add {
  display: block;
  margin-right: 30px;
}

.centered {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
